ion-toolbar {
    padding-bottom: 5px;
}

ion-card {
    box-shadow: none;
    border: 1px solid var(--ion-text-color-step-50);
    border-radius: 15px;
    margin-inline-start: 10px;
    margin-block-end: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-button {
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
	--border-radius: 10px;
}

ion-button::part {
    --border-radius: 10px;
}

ion-item {
    --inner-padding-end:0;
  }

ion-card ion-item::part(native) {
    padding-left: 0;
    padding-right: 0;
}

ion-card .card-content-ios, ion-card .card-content-md {
    -webkit-padding-start: 10px;
    padding-inline-start: 10px;
    -webkit-padding-end: 10px;
    padding-inline-end: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-list.list-ios, ion-list.list-md {
    padding-top: 0;
    padding-bottom: 0;
}

ion-item.input-with-icon {
    height: 100%;
}

ion-item.item-label::native {
    padding-right: 0;
}

ion-item.input-with-icon::part(native) {
    height: 100%;
    border-radius: 14px;
}

ion-item:last-child {
    --border-width: 0 0 0 0 !important;
    --border-color: #ffffff !important
}
 
#container {
    position: relative;
}
  
#container h2 {
    font-size: 20px;
    line-height: 26px;
}
  
#container p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
  
#container a {
    text-decoration: none;
}

#container .gray-font-1 {
    color: var(--ion-text-color-step-500);
}

ion-input.custom {
    --background: #fff;
    --color: var(--ion-text-color;)
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;

    border-radius: 10px;
}

ion-input.custom.ios .input-bottom .helper-text,
ion-input.custom.ios .input-bottom .counter,
ion-input.custom.md .input-bottom .helper-text,
ion-input.custom.md .input-bottom .counter {
    color: var(--ion-color-primary);
}

ion-input.custom .input-wrapper {
    border-radius: 10px;
}

ion-datetime-button.ion-color::part(native) {
    background-color: var(--ion-background-color-step-50);
}

ion-icon.icon-text {
    margin-right: 8px;
}

ion-loading.loader-style {
    --background: #ffffff;
}

ion-loading.loader-style .loading-wrapper {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

ion-chip.time-chip {
    border-radius: 6px;
    margin: 5px;
    --background: #00213f;
    --color: #adefd1;
    font-weight: 700;
}
