ion-toolbar {
    padding-bottom: 5px;
}

ion-toolbar.md ion-title {
    font-weight: 800 !important;
}

ion-toolbar.md ion-title h2 {
    font-weight: 800 !important;
}

ion-card {
    box-shadow: none;
    border: 1px solid var(--ion-text-color-step-50);
    border-radius: 15px;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

ion-button {
    text-transform: none;
    margin-top: 0;
    margin-bottom: 0;
	--border-radius: 10px;
}

ion-button::part {
    --border-radius: 10px;
}

ion-card ion-item::part(native) {
    padding-left: 0;
    padding-right: 0;
}

ion-card .card-content-ios, ion-card .card-content-md {
    -webkit-padding-start: 10px;
    padding-inline-start: 10px;
    -webkit-padding-end: 10px;
    padding-inline-end: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

ion-list.list-ios, ion-list.list-md {
    padding-top: 0;
    padding-bottom: 0;
}

ion-item.input-with-icon {
    height: 100%;
}

ion-item.item-label::native {
    padding-right: 0;
}

ion-item.input-with-icon::part(native) {
    height: 100%;
    border-radius: 14px;
}

ion-item:last-child {
    --border-width: 0 0 0 0 !important;
    --border-color: #ffffff !important
}
 
#container {
    position: relative;
    margin-bottom: 60px;
}
  
#container h2 {
    font-size: 18px;
    line-height: 22px;
}
  
#container p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}
  
#container a {
    text-decoration: none;
}

#container .gray-font-1 {
    color: var(--ion-text-color-step-500);
}

ion-input.custom {
    --background: #fff;
    --color: var(--ion-text-color;)
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;

    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;

    border-radius: 10px;
}

ion-input.custom.ios .input-bottom .helper-text,
ion-input.custom.ios .input-bottom .counter,
ion-input.custom.md .input-bottom .helper-text,
ion-input.custom.md .input-bottom .counter {
    color: var(--ion-color-primary);
}

ion-input.custom .input-wrapper {
    border-radius: 10px;
}

ion-datetime-button.ion-color::part(native) {
    background-color: var(--ion-background-color-step-50);
}

ion-icon.icon-text {
    margin-right: 8px;
}

ion-loading.loader-style {
    --background: #ffffff;
}

ion-loading.loader-style .loading-wrapper {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

ion-chip.time-chip {
    border-radius: 6px;
    margin: 5px;
    --background: #00213f;
    --color: #adefd1;
    font-weight: 700;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 6px;
}


/* Grid style */
.bookings-grid {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  touch-action: pan-x;
}

.bookings-grid ion-item::part(native) {
  padding-left: 6px;
}

.horizontal-scroll-snap {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.snap-col {
  flex: 0 0 100%;
  scroll-snap-align: start;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 0;
  padding: 0 0 6px 0;
  text-align: center;
  box-sizing: border-box;
}

.time-header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--ion-color-light);
  font-weight: 700;
}

ion-card-header.date-header {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--ion-color-dark, #222428) !important;
  overflow: hidden;
  margin-left: -1px;
  margin-top: -1px;
  margin-right: -1px;
}

ion-card-header.date-header p {
  color: #fff;
  font-weight: 700;
}

.snap-col:first-child .date-header {
  border-top-left-radius: 10px;
}

.snap-col:last-child .date-header {
  border-top-right-radius: 10px;
}

.snap-col:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.snap-col:last-child {
  border-right: 1px solid #ccc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* Grid style end */

ion-buttons ion-icon.addButton {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  font-size: 2em;
}

ion-modal#date-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 6px;
  --background-color: #fff;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

ion-modal#date-modal::part(content) {
  border-radius: 15px;
}

ion-modal#date-modal .wrapper {
  background-color: #fff;
  margin: 5px;
}

ion-modal#date-modal .wrapper ion-toolbar {
  --background: #fff;
  --color: var(--ion-text-color);
}

ion-datetime {
    --background: #fff;
}
